.l-container {
  height: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  &--hero {
    position: relative;
    z-index: 3;
  }

  &--frontend {
    flex-direction: column;

    @include media($medium) {
      flex-direction: row;
    }
  }

  &--nav {
    align-items: center;
  }
}
