.l-section {
  height: 100vh;
  padding: percentage(90px/$max-width) 0;
  position: relative;

  &--about {
    background: $yellow;
  }

  &--contact {
    background-color: $red;
    color: $white;
  }

  &--backend {
    background: $black;
  }

  &--frontend {
    transition: background-color .4s ease-in-out;
  }

  &--react {
    background-color: $react;
  }

  &--gulp {
    background-color: $gulp;
  }

  &--webpack {
    background-color: $webpack;
  }

  &--sass {
    background-color: $sass;
  }

  &--devops {
    background: linear-gradient(45deg, $opal, $blue);

    &:after {
      background-image: url('https://s3-eu-west-1.amazonaws.com/cdn.nath.codes/src/img/hexagons-opal.svg');
      bottom: 0;
      content: '';
      position: absolute;
      left: 0;
      opacity: .4;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__inner {
    flex: 0 1 50%;

    &--center {
      text-align: center;
    }
  }
}
