.l-section {
  height: 100vh;
  padding: percentage(90px/$max-width) 0;
  position: relative;

  &--about {
    background: $yellow;
  }

  &--contact {
    background-color: $red;
    color: $white;
  }

  &--backend {
    background: $black;
  }

  &--devops {
    background: linear-gradient(180deg, $teal, $blue);
    background-size: 400% 400%;
    animation: backgroundPosition 10s ease infinite;
  }

  &__inner {
    flex: 0 1 50%;

    &--center {
      text-align: center;
    }
  }
}
