.l-section {
  padding: percentage(90px/$max-width) 0;
  position: relative;

  &--hero {
    @extend %full-height;
    padding-top: 0;
  }

  &--about {
    @extend %full-height;
    background: $yellow;
  }

  &--projects {
    background: $light_grey;
    padding-bottom: percentage(75px/$max-width)
  }

  &--contact {
    @extend %full-height;
    background-color: $red;
    color: $white;
    padding-bottom: 0;
  }

  &--backend {
    @extend %full-height;
    background: $black;
  }

  &--frontend {
    @extend %full-height;
    transition: background-color .4s ease-in-out;
  }

  &--react {
    background-color: $react;
  }

  &--gulp {
    background-color: $gulp;
  }

  &--webpack {
    background-color: $webpack;
  }

  &--sass {
    background-color: $sass;
  }

  &--devops {
    @extend %full-height;
    background-image: url('https://s3-eu-west-1.amazonaws.com/cdn.nath.codes/src/img/hexagons-opal.svg'), linear-gradient(180deg, $opal, $blue);
  }
}
