.carousel {
    flex: 0 0 column('1/2');
    position: relative;

    &__slide {
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .4s linear;
      visibility: hidden;

      &--is-active {
        opacity: 1;
        visibility: visible;
      }
    }

    &__img {
      width: 100%;
    }
}
