.copy {
  font-size: rem(18);
  line-height: rem(30);

  &--alt {
    @include font-smoothing();
    background: $black;
    color: $white;
    padding: rem(10) rem(30);
  }

  &--devops {
    position: relative;
    z-index: 2;
  }

  &--frontend,
  &--about {
    margin-bottom: rem(40);
  }
}
