.copy {
  flex: 0 1 50%;
  font-size: rem(18);
  line-height: rem(30);

  &--alt {
    @include font-smoothing();
    background: $black;
    color: $white;
    padding: rem(10) rem(30);
  }

  &--contact {
    margin-bottom: rem(80)
  }
}
