.heading {
  font-family: $header-font;
  font-size: 74px;
  letter-spacing: 1px;
  margin: 0 auto rem(30);
  text-transform: uppercase;

  &--alt {

    @include font-smoothing();
    background: $black;
    color: $white;
    display: inline-block;
    padding: 0 rem(30);
  }

  &--devops {
    position: relative;
    z-index: 2;
  }

}
