.heading {
  font-family: $header-font;
  font-size: 36px;
  letter-spacing: 1px;
  margin: 0 0 rem(30);
  text-align: center;

  @include media($medium) {
    font-size: 74px;
    display: inline-block;
    text-align: left;
  }

  &--alt {
    @include font-smoothing();
    background: $black;
    color: $white;
    padding: 0 rem(30);
  }

  &--hero {
    color: $white;
    margin-bottom: 0;
    text-align: left;

    @include media($medium) {
      line-height: 91px;
    }
  }

  &--projects {
    margin-bottom: rem(50);

    @include media($medium) {
      align-self: center;
    }
  }
}
