.heading {
  font-family: $header-font;
  font-size: 36px;
  font-weight: 800;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0 0 rem(30);
  text-align: center;

  @include media($medium) {
    text-align: left;
    font-size: 74px;
  }

  &--alt {
    @include font-smoothing();
    background: $black;
    color: $white;
    padding: 0 rem(30);
  }

  &--hero {
    color: $white;
    margin-bottom: 0;
    text-align: left;

    @include media($medium) {
      line-height: 91px;
    }
  }

  &--backend {
    align-self: flex-end;

    @include media($medium) {
      align-self: flex-start;
    }
  }

  &--projects {
    align-self: flex-end;
  }
}
