.nav {
  opacity: 0;
  transition: opacity .25s;
  visibility: hidden;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &__item {
    color: $white;

    &--l {
      margin-right: rem(24);
    }
  }


  &__icon {
    cursor: pointer;
    transition: all .25s;
    width: rem(24);

    &.is-active {
      transform: rotate(90deg);
    }
  }
}
