.nav {
  &__item {
    color: $white;

    &--l {
      margin-right: rem(20);
    }
  }

  &__icon {
    cursor: pointer;
    transition: all .25s;
    width: rem(40);

    &.is-active {
      transform: rotate(90deg);
    }
  }
}
