.overlay {
  -webkit-backface-visibility: hidden;
  background: $black;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;

  &--hero {
    opacity: .4;
    z-index: 1;
  }

  &--project {
    transition: opacity .20s;
    opacity: 0;
    z-index: 1;
  }
}
