.project {
  border: solid 5px $black;
  margin-bottom: 50px;
  position: relative;
  transition: all .25s ease-in-out;

  @include media($medium) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: column('1/2');
  }

  &:hover {
    .overlay--project {
      opacity: .8;
    }
    .button--project {
      opacity: 1;
    }
  }

  &__hero {
    display: block;
    position: relative;
  }


  &__img {
    vertical-align: bottom;
  }

  &__meta {
    background: $black;
    right: 0;
    padding: 5px 5px 10px 10px;
    position: absolute;
    top: 0;
    z-index: 2;

    @include media($medium) {
      padding: 5px 5px 10px 10px;
    }
  }

  &__title {
    color: $white;
    font-family: $header-font;
    font-size: rem(18);
    line-height: 1;

    @include media($medium) {
      font-size: rem(24);
    }
  }
}
