.project {
  flex: 0 0 column('1/2');
  margin-bottom: 50px;
  transition: all .25s ease-in-out;

  &:nth-child(odd) {
    margin-top: -177px;
  }

  &:hover {
    .overlay--project {
      opacity: .5;
    }
    .button--project {
      opacity: 1;
    }
  }

  &__hero {
    display: block;
    position: relative;
  }


  &__img {
    vertical-align: bottom;
  }

  &__meta {
    background: $white;
    padding: 25px;
    text-align: center;
  }

  &__title {
    font-family: $header-font;
    margin-bottom: 5px;
  }

  &__tags {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

  &__tag {
    color: $grey;
    font-weight: 200;
    list-style: none;
  }
}
