.social {
  display: flex;
  justify-content: center;

  &__logo {
    transform: scale(1);
    transition: all .20s ease-in-out;

    &:hover {
      transform: scale(1.07);
    }

    svg {
      height: 25vh;
    }

    path {
      fill: $white;
    }
  }
}
