.social {

  &__logo {
    display: block;

    &:hover {
      path {
        fill: $black;
      }
    }

    svg {
      height: 12vh;
    }

    path {
      fill: $white;
      transition: all .20s ease-in-out;
    }
  }
}
