.wrapper {
  &--projects {
    margin-top: percentage(40px/$max-width);
  }

  &--project-button {
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    vertical-align: middle;
  }

  &--frontend-cross {
    flex-grow: 1;

    > svg {
      flex-basis: percentage(300px / 655px);
    }
  }
}
