// site width
$max-width: 1260px;

// breakpoints
$small: '320px';
$medium: '768px';
$large: '1024px';

// fonts
$header-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

// colors
$black: #333;
$grey: #4d4d4d;
$orange: #ff6600;
$red: #cc3c3b;
$teal: #79ffe0;
$yellow:#ff0;
$white: #fff;
