<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noodp"/>
    <title>Nath.codes | Portfolio</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= require('./favicon-76.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./favicon-120.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./favicon-152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./favicon-180.png') %>">
    <meta property="og:image" content="<%=CDN_IMG %>/fb_og.jpg">
    <meta property="og:title" content="Nath Codes">
    <meta property="og:site_name" content="Nath.codes">
    <meta property="og:url" content="https://nath.codes">
    <meta property="og:description" content="The portfolio of Bristol web developer Nathan Tredgett.">
    <meta property="fb:app_id" content="1509404502711069">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
