html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img,
svg {
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
